.subnavBar__Custom{
    display: flex;
    list-style: none;
    column-gap: 15px;
    padding: 6px 10px;
}

.subnavBar__Custom a{
    text-decoration: none;
}
.subnavBar__Custom a:hover{
    text-decoration: underline;
    color: rgb(19, 101, 196);
}